/* index.css */

@import "tailwindcss";

:root {
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(90deg,rgba(30, 30, 48, 1) 0%, rgba(42, 50, 76, 1) 50%, rgba(45, 56, 85, 1) 100%);
}
body,html{
  padding: 0px;
  margin: 0px;
}